* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: white;
}

button:hover {
	background-color: rgb(58, 58, 58);
	color: white;
}

.calc-body {
	background-color: rgb(80, 80, 80);
	width: 25vw;
	min-width: 500px;
	border-radius: 10px;
	padding: 2rem;
}

.top-section {
	margin-bottom: 2rem;
	font-size: 2.5rem;

	h1 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
		color: white;
	}

	p {
		width: 100%;
		border-radius: 4px;
		background-color: white;
		border: none;
	}

	#input-display {
		margin-bottom: 1rem;
		padding: 1rem 1.5rem;
		min-height: 5rem;
	}

	#output-display {
		padding: 1rem 1.5rem;
		font-weight: bold;
		min-height: 5rem;
	}
}

.operator-section {
	display: flex;
	height: 20rem;
	flex-direction: column;
	justify-content: space-between;

	.operator {
		padding: 2rem 0;
		flex: 1;
		font-size: 1.5rem;
		border: 0;
		border-radius: 8px;
	}

	.main-operators {
		background-color: rgb(110, 110, 110);
		border-radius: 8px;
		flex: 1;
		flex-basis: 0;
		align-items: center;
		padding: 0 0.5rem;
		.op1,
		.op2 {
			display: flex;
			padding: 1rem 0;
			gap: 1rem;
			width: 90%;
			margin: 0 auto;
		}

		.op2 {
			padding-top: 0;
		}
	}

	#equals {
		font-size: 3rem;
		margin: 2rem 0;
		padding: 0;
	}
}

.numbers-and-operators {
	display: flex;
	gap: 1rem;

	.numbers {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		flex: 1.5;
		flex-basis: 0;

		button {
			width: 5rem;
			height: 2rem;
			min-width: 30%;
			min-height: 20%;
			flex: 1;
			border: none;
			border-radius: 6px;
		}
	}
}
